.divJuego {
    background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1704990401/xih3t7f9nqbsq0rfmlxc.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    position: absolute;
    width: 60vw;
    min-width: 370px;
    max-width: 600px;
    transform-style: preserve-3d;
    animation: giro 0.5s ease-in-out;
    height: 80vh;
  }
  