.divJuego {
    background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1704990401/xih3t7f9nqbsq0rfmlxc.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    position: absolute;
    width: 60vw;
    min-width: 370px;
    max-width: 600px;
    min-height: 735px;
    
  
    height: 80vh;
  }
  .divJuego h2{
    color: black;
  }
  @media screen and (max-height: 800px) {
    .divJuego {
      margin-top: 200px;
    
    }
  }
  .contenedorJuego {
    background-color: #573F2E;
    padding: 30px; 
    border: 3px solid #8B4513;
    border-radius: 15px;
    width: 70vw;
    max-width: 900px;
    height: 700px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    margin: 20px auto; 
}

a {
    text-decoration: none;
}

.contenedorJuego h2 {
    color: #FFF; 
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.enlaceAventura {
    display: block; 
}

.cajonAventura {
    background-color: #8B4513;
    color: #FFD700;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.cajonAventura:hover {
    background-color: #6e3e2d;
}

.cajonAventura.cerrado {
    background-color: #A0522D;
    color: #DAA520;
    cursor: not-allowed;
    opacity: 0.7;
}