.divJuego {
    background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1704990401/xih3t7f9nqbsq0rfmlxc.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    position: absolute;
    width: 60vw;
    min-width: 370px;
    max-width: 600px;
    min-height: 735px;
  
    height: 80vh;
  }
  @media screen and (max-height: 800px) {
    .divJuego {
      margin-top: 300px;
    
    }
  }
  .contenedorJuego {
    background-color: #573F2E; /* Color de fondo que simula la madera */
    padding: 20px;
    border: 2px solid #8B4513; /* Color del borde que simula la madera oscura */
    border-radius: 10px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
}
a{
  text-decoration: none;
}

h2 {
    color: black}



.cajonAventura {
    background-color: #8B4513; 
    color: #FFD700; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer; 
}

.cajonAventura.cerrado {
    background-color: #A0522D; 
    color: #DAA520; 

}
  