
.divRol{
    display: flex;
    width: 90%;
padding: 0 10px;
    justify-content: space-around;
    height: 25%;
    position: relative;
    top: -13%;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

 
}
.perfil{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   
}
.perfil img{
    height: 110px;
    margin: 10px;
}
.stats p{
    margin: 0;
}
.stats h2{
    margin: 10px;
    font-size: 18px;
}
