header {
    background-color: #8B4513;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid #000;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    font-family: 'Goudy Old Style', 'Palatino Linotype', serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #000;
}
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.8rem;
    }
}
main{
    background: white
}