.logo{
    height: 10vh;
}

.headerDesktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:10vh ;
    min-height:100px ;
   background-color: rgb(255, 255, 255);
   color:rgb(255, 158, 27) ;
   border-bottom: 5px solid rgb(255, 158, 27) ;;
   
}

.navUno{
    display: flex;
    height: 10vh;

    justify-content: flex-end;
    align-items: center;
  
    color: white;
}
.navUno li{
    color:rgb(255, 158, 27) ;
    list-style: none;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
}
.navUno li:hover{
    background-color:rgb(255, 158, 27) ;
    color: white;
    list-style: none;
    font-weight: 700;
}

.about{
    display: flex;
    gap: 2vw;
}




.mainNav{
    display: flex;
    gap: 2vw;
    
    
}


