.logo{
    height: 10vh;
}
@font-face {
    font-family: 'fuentemed';
    src: url('../fonts/Angel\ wish.otf') format('truetype');
  
  }
  .logoTit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 3%;
  }
  .tituloHeader{
    color: white ;
    font-family: 'Cinzel', serif;

  }

.headerDesktop{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
    height:7vh ;
    min-height:00px ;
  background-color: rgb(61, 44, 43);
   color:rgb(255, 158, 27) ;
   font-family: 'fuentemed', sans-serif;


   
}

.navUno{
    display: flex;
    height: 5vh;

    justify-content: flex-end;
    align-items: center;
  
    color: white;
}
.navUno li{
    color: white;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border-radius: 10px;
}
.navUno li:hover{
    background-color: rgba(68, 60, 59, 0.858);
    color: white;
    list-style: none;
    font-weight: 700;
}

.about{
    display: flex;
    justify-content: center;
    gap: 3vw;
    width: 60vw;
  
}




.mainNav{
    display: flex;
    gap: 2vw;
    
    
}


