.allForm {
  display: flex;
  position: absolute;
  top: 25%;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
}

.register {
  background-color: rgb(255, 158, 27);
  color: white;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formMain {
  background-color: rgb(255, 198, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.455);
  text-align: center;
  min-height: 500px;
}



.titleFormH1 {
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputPlaceHolderForm {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customPlaceholder {
  font-size: 1.6rem;
  margin-bottom: 5px;
  color: white;
}

.inputForm {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer button {
  background-color: white;
  color: rgb(255, 158, 27);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnContainer button:hover {
  background-color: rgb(255, 170, 0);
  color: white;
}

.loginForm {
  margin-top: 20px;
  text-align: center;
}

.loginParagraph {
  color: white;
}

.loginParagraph a {
  color: white;
  font-weight: bold;
}
