
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

margin: 0;
padding: 0;
box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
body{
  margin: 0;
padding: 0;
height: 100vh;
position: relative;
min-height: 100%;
z-index: -4;
box-sizing: border-box;
background-color: white;
color: black;
}
p, h3{
  color: black;
  margin: 0;
}
#root{
  position: relative;
margin: 0;
background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1705696467/bcecynmsnl2znxlve2bp.jpg");
background-size:300% ;
background-position:-20% 200%;
height: 100vh;
padding: 0;
  z-index: -3;
  font-family: 'Montserrat', sans-serif;
  ;
}
main{
height: 89vh;

  z-index: -2;
  position: relative;
font-family: 'Montserrat', sans-serif;
background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1705696467/bcecynmsnl2znxlve2bp.jpg");
background-repeat: no-repeat;
background-size: cover;



  
}
@media screen and (max-width: 800px) {
main{
  min-height: 130vh;
}
}

