.footer {
    background-color: hsl(3, 17%, 20%);
    color: #FFF;
  
    text-align: center;


    bottom: 0;
    left: 0;
    width: 100%;

}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-height: 800px) {
    .footer{
      margin-top: 170px;
    
    }}