.botonesPaginacion{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    align-items: center;
    position: relative;
    top: -105px;
    left: 0px;
    
}
.mainSeleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}
.seleccionPersonaje{
    position: relative;
    top: 20px;
}

.divJuego h2 {
    text-align: center;
}
.divJuego h3{
    text-align: center;
}

.divInstrucciones{
    min-height: 80%;
    background-color: lightcoral;
}
.divPreguntas{
    min-height: 80%;
    background-color: lightcoral;
}