.botonesPaginacion{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    align-items: center;
    position: relative;
    top: -105px;
    left: 0px;
    
}
.botonesPaginacion button{
   
     
        position: relative;
        top: 10%;
        padding: 7px 15px;
        font-size: 10px;
        text-transform: uppercase;
        background-color: #3D2B1F; 
        color: #FFD700; 
        border: 2px solid #3D2B1F;
       border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
     
      }
      #disabled{
        background-color: #9a7c68;
        color: #b2ab87; 
      }
    
.mainSeleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}
.seleccionPersonaje{
    position: relative;
    top: 20px;
}

.divJuego > h2 {
text-align: center;
position: relative;
top: 15px;
 }
.divJuego h3{
    text-align: center;
}

.divInstrucciones{
width: 80%;

height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
left: 10%;
top: 10%;
margin: 0;
padding: 0;


}
.divInstrucciones h1{
   color: black;
    position: relative;
    top: -8.5%;
    text-align: center;
}
.divInstrucciones img{
    position: relative;
    top: -15%;
 height: 300px;
    width: 100%;
}
.divInstrucciones ul{
  position: relative;
  color: black;
font-size: .9em;
height: 200px;
  top: -12%;
  left: 5%;
  font-weight: 600;
  margin: 0;
padding: 0;

}
.divInstrucciones button{
  position: relative;
  top: -17%;
  border: none;
  background-color: #3d2b1f00;
  left: 77%;
  font-size: 16px;
  width: 30%;
  cursor: pointer;
  font-weight: 700;
  margin: 0;
padding: 0;
}
.textInstrucciones{
    position: relative;
    top: -12%;
 
}
@media screen and (max-width: 768px) {
    .divInstrucciones button {
font-size: 14px;
   
   
    }
  }
.divPreguntas{
    display: flex;
    height: 750px;
   width: 100%;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: absolute;

 
}
.cuadroInst{
   display: flex;
   justify-content: center;
   align-items: center;
  font-size: 20px;
  margin: 10px 0;
  
}

.cuadroInst > :first-child {
   background-color: red;
   border-radius: 5px;
   padding: 5px;

}

.cuadroInst > :nth-child(2) {
   background-color: rgb(237, 167, 38);
   margin: 0 4px;
   border-radius: 5px;
   padding: 5px;
}

.cuadroInst > :nth-child(3) {
   background-color: green;
   border-radius: 5px;
   padding: 5px;
}