.botonesPaginacion{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    align-items: center;
}
.mainSeleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.figurePers{
    height: 500px;
  
    display: flex;
    flex-direction: column;

}

.divJuego h2 {
    text-align: center;
}
.divJuego h3{
    text-align: center;
}
.figurePers img{
   height: 90%;
   cursor: pointer;
   

}
.figurePers img:hover{
    scale: 1.05;
    transition: .5s ease;
}

.figurePers h2{
    text-align: center;
}
.persDetallado{
    height: 70%;
    width: 70%;
    min-width: 280px;
    padding: 10px;
    background-color: rgb(154, 154, 195);
    border-radius: 10px;
}
.divRol{
    display: flex;
}